.header {
    --tw-bg-opacity: 1;
    background-color: rgb(18 100 80 / var(--tw-bg-opacity));
    height: 4rem;
    display: flex;
}

.h-full {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.main-content {
    display: flex;
    width: 100%;
}

.layer-content {
    flex-basis: 20%;
    min-height: calc(100vh - 4rem);
    height: max-content;
    background-color: #fff;
}

.template-content {
    flex-basis: 60%;
    min-height: calc(100vh - 4rem);
    height: max-content;
}

.sidebar-content {
    flex-basis: 20%;
    min-height: calc(100vh - 4rem);
    height: max-content;
    background-color: #fff;
}

.bg-base-100 {
    --tw-bg-opacity: 1
}

.bg-layer {
    --tw-bg-opacity: 1;
    background-color: rgb(125 211 252/var(--tw-bg-opacity));
}

.min-h-0 {
    min-height: 0;
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.button {
    background-color: green;
    color: white;
    text-align: center;
    padding: 20px 40px 20px 40px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
    bottom: 10px;
}

.sidebar-home {
    min-height: calc(100vh - 4rem);
    width: 100%;
    height: max-content;
    background-color: #fff;
    border-right: 1px solid #c1bcbc;
}

.sidebar-home a {
    width: 100%;
}

.text-home {
    color: white;
    font-size: 20px;
    display: inline-block;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    min-height: calc(100vh - 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-set-overlay {
    background-color: #f4f4f4;
    padding: 20px;
    height: 100%;
    width: 100%;
    position: relative;

}

.option-set-content {
    background-color: #fff;
    padding: 16px;
    width: 100%;
    height: 100%;

    /* min-height: calc(100vh - 8rem); */
    border: 1px solid #c1bcbc;
    padding-top: 20px;


}

.option-set-title {
    position: absolute;
    top: 8px;
    left: 35px;
    background-color: #fff;
    padding: 4px 8px;
    font-size: 18px;
}

.option-set-content label {
    display: block;
    margin-bottom: 20px;
}

.option-set-content input {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #c1bcbc;
    background-color: #f5f0f0;
    border-radius: 16px;
    margin-bottom: 20px;
}

.item {
    margin-top: 10px;
    border: 1px solid #c1bcbc;
    background-color: #f7f4f4;
    border-radius: 4px;
    padding: 16px 10px;
}

.justify-space {
    justify-content: space-between;
}

.position-absolute-button {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.w-full {
    width: 100%;
}

.choose-template-box>div {
    border: 1px solid #c1bcbc;
    padding: 6px;


}

.choose-template-box span {
    color: rgb(0, 153, 255);
    margin-bottom: 20px;
}

.choose-template-box .left-bar {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 10px;
    border-right: 1px solid #c1bcbc;
}

.choose-template-box .category-bar {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    border-right: 1px solid #c1bcbc;
}

.category-bar span.category-item {
    color: #000;
    padding: 4px 10px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 18px;
}

.choose-template-box .left-bar input {
    width: 100%;
    border: 1px solid #c1bcbc;
    padding: 4px 16px;
    border-radius: 8px;
    margin-bottom: 10px;
}

.left-bar span.template-item {
    color: #000;
    padding: 4px 10px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 18px;
}

.left-bar span.template-item:hover {
    background-color: #bbf1ff;
}

.choose-template-box .right-bar {
    flex-grow: 4;
    flex-shrink: 4;
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.right-bar .template-item {
    color: #000;
    padding: 4px 10px;
    margin-bottom: 0px;
    cursor: pointer;
    font-size: 18px;
}

.right-bar .template-item:hover {
    background-color: #bbf1ff;
}

.margin-left {
    margin-left: 30px;
}

.choose-template-box-preview .template-item {
    padding: 10px;
    cursor: pointer;
}

.choose-template-box-preview .template-item:hover {
    background-color: #bbf1ff;
}

.spinner {
    font-size: 50px;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
}

.spinner.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.spinner .spinner-blade {
    position: absolute;
    left: 0.4629em;
    bottom: 0;
    width: 0.074em;
    height: 0.2777em;
    border-radius: 0.0555em;
    background-color: transparent;
    -webkit-transform-origin: center -0.2222em;
    -ms-transform-origin: center -0.2222em;
    transform-origin: center -0.2222em;
    animation: spinner-fade9234 1s infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
    -webkit-animation-delay: 0.083s;
    animation-delay: 0.083s;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
    -webkit-animation-delay: 0.166s;
    animation-delay: 0.166s;
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
    -webkit-animation-delay: 0.249s;
    animation-delay: 0.249s;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
    -webkit-animation-delay: 0.332s;
    animation-delay: 0.332s;
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
    -webkit-animation-delay: 0.415s;
    animation-delay: 0.415s;
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
    -webkit-animation-delay: 0.498s;
    animation-delay: 0.498s;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
    -webkit-animation-delay: 0.581s;
    animation-delay: 0.581s;
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
    -webkit-animation-delay: 0.664s;
    animation-delay: 0.664s;
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
    -webkit-animation-delay: 0.747s;
    animation-delay: 0.747s;
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
    -webkit-animation-delay: 0.83s;
    animation-delay: 0.83s;
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
    -webkit-animation-delay: 0.913s;
    animation-delay: 0.913s;
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
    0% {
        background-color: #ffffff;
    }

    100% {
        background-color: transparent;
    }
}